{% extends "base.html.twig" %}

{# {% block title %}
{% endblock %} #}

{% block main %}
	<a href="{{ path('listAllUsers') }}">Retour<a>

			<h1>Changer votre mot de passe</h1>
			{{ form(formChangePassword) }}{% endblock %}
