{% extends "base.html.twig" %}

{% block title %}
	{{ title }}
{% endblock %}

{% block main %}
	<a href="{{ path('app_login') }}">Retour<a>

			<h1>Réinitialisation de mot de passe</h1>
			{% for message in app.flashes('info') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
			{{ form(formForgottenPassword) }}{% endblock %}
