{% extends 'base.html.twig' %}

{% block title %}Détails
	{{ student }}
{% endblock %}

{% block main %}
	<div class="table-responsive containerShow">
		<table class="table tableShow">
			<thead class="thead">
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
{% endblock %}
