{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block main %}
	<div id="homeDiv">
	{{ form(formSearchTraining) }}
		{# <form class="form-inline">
			<input class="form-control mr-sm-2" type="search" placeholder="Rechercher une formation..." aria-label="Search">
			<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Rechercher</button>
		</form> #}
		<p>Prochaine session de formation : INTITULE DE FORMATION + DATE</p>
	</div>
{% endblock %}
