.table {
    width: auto;
    margin: 5em 0 2em 15em;
    border: 1px solid #dee2e6;
}

.thead {
    background-color: #00A8FF;
}

td, th {
    text-align: center;
}

.btnAjout {
    margin-left: 15em
}

form {
    width: 25%;
    margin: 5em 0 2em 15em;
}