/***** BASE.HTML.TWIG *****/
/***** GLOBALS SETTINGS *****/
* {
    box-sizing: border-box;
}

body {
    background-color: #F6F6F6;
}

nav, footer {
    background-color: #00A8FF;
}

header *, footer *  {
    color: #333 !important;
}

a {
    text-decoration: none !important;
}

header a:hover, footer a:hover {
    color: #F6F6F6 !important;
}

/***** NAVIGATION BAR *****/
.navbar-brand, h1 {
    font-weight: bold;
}

nav > .nav-link {
    font-weight: bold;
    margin-left: 5rem;
}

/***** FOOTER *****/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .container {
    margin: 3em auto;
}

h1 {
    font-size: 1.5em;
}

footer a {
    display: block;
}

.divFooter {
    text-align: center;
}

.divFooterCenter a{
    margin-bottom: 1.5em;
}



/***** VIEW LIST *****/
.table {
    width: auto;
    margin: 5em 0 2em 15em;
    border: 1px solid #dee2e6;
}

.thead {
    background-color: #00A8FF;
}

td, th {
    text-align: center;
}

.btnAjout {
    margin-left: 15em
}

.fa-info-circle {
    font-size: 2em;
}

table tr:nth-child(even){
    background-color:#e0e0e0;
  }



/***** FORM ADD AND EDIT *****/
form {
    width: 25%;
    margin: 5em 0 2em 15em;
}



/***** VIEW SHOW *****/
.tableShow {
    width: 30% !important;
}