{% extends 'base.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block body %}
<p><a href="{{ path('home') }}">< Retour à l'accueil<a></p>
	<div class="table-responsive containerIndex">
		<table class="table">
			<thead class="thead">
				<tr>
					<th>Nom de la catégorie</th>
					<th>Module(s)</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						<td>{{ category.name }}</td>
						{# <td>{{ category.modules.name }}</td> #}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
