{% extends "base.html.twig" %}

{% set text = (editMode) ? 'Modifier' : 'Ajouter' %}

{% block title %}
	{{ text }}
	utilisateur
{% endblock %}

{% block main %}
	<a href="{{ path('listAllUsers') }}">Retour<a>

			<h1>{{ text }}
				utilisateur
			</h1>
			{{ form(formUser) }}{% endblock %}
